@charset "UTF-8";
/*******************************************************
> File Name: task.scss 
> Author: IndexXuan
> Mail: indexxuan@gmail.com
> Created Time: 2015年07月30日 星期四16时41分34秒
 ******************************************************/
/*******************************************************
> File Name: base.scss 
> Author: IndexXuan
> Mail: indexxuan@gmail.com
> Created Time: 2015年07月13日 星期一 18时38分20秒
 ******************************************************/
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden], template {
  display: none;
}

html {
  background: #fff;
  color: #000;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

html,
button,
input,
select,
textarea {
  font-family: sans-serif;
}

body {
  margin: 0;
}

a {
  background: transparent;
}
a:focus {
  outline: thin dotted;
}
a:hover, a:active {
  outline: 0;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

h2 {
  font-size: 1.5em;
  margin: 0.83em 0;
}

h3 {
  font-size: 1.17em;
  margin: 1em 0;
}

h4 {
  font-size: 1em;
  margin: 1.33em 0;
}

h5 {
  font-size: 0.83em;
  margin: 1.67em 0;
}

h6 {
  font-size: 0.75em;
  margin: 2.33em 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}

q:before, q:after {
  content: '';
  content: none;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 0;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
  white-space: normal;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
}

button, input {
  line-height: normal;
}

button,
select {
  text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
input[disabled] {
  cursor: default;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

/**
 *  for wxShareMask & others 
 *  created on 201509031750
 */
/* global-animation start 弹入-从右 */
.a-bounceoutB,
.a-bounceinB {
  -webkit-animation: .4s ease-in forwards;
  animation: .4s ease-in forwards;
}

/* question list 滑动复位动画 */
.a-bounceinR {
  -webkit-animation-name: bounceinR;
  -webkit-animation: .1s ease-in forwards;
  animation: .1s ease-in forward;
}

@keyframes bounceinR {
  0% {
    opacity: 1;
    -webkit-transform: translateX(-40px);
  }
  60% {
    opacity: 1;
    -webkit-transform: translateX(0px);
  }
  80% {
    -webkit-transform: translateX(0px);
  }
  100% {
    -webkit-transform: translateX(0px);
  }
}
@-webkit-keyframes bounceinR {
  0% {
    opacity: 1;
    -webkit-transform: translateX(-40px);
  }
  60% {
    opacity: 1;
    -webkit-transform: translateX(0px);
  }
  80% {
    -webkit-transform: translateX(0px);
  }
  100% {
    -webkit-transform: translateX(0px);
  }
}
/* global-animation end   弹入-从右 */
/* 弹入-从下 */
.a-bounceinB {
  -webkit-animation-name: bounceinB;
  -moz-animation-name: bounceinB;
  -ms-animation-name: bounceinB;
  animation-name: bounceinB;
}

/* 弹入-从下 */
@-webkit-keyframes bounceinB {
  0% {
    opacity: 0;
    -webkit-transform: translateY(100px);
  }
  60% {
    opacity: 1;
    -webkit-transform: translateY(-30px);
  }
  80% {
    -webkit-transform: translateY(10px);
  }
  100% {
    -webkit-transform: translateY(0);
  }
}
@keyframes bounceinB {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }
  60% {
    opacity: 1;
    transform: translateY(-30px);
  }
  80% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0);
  }
}
/* 弹出-向下 */
.a-bounceoutB {
  -webkit-animation-name: bounceoutB;
  -moz-animation-name: bounceoutB;
  -ms-animation-name: bounceoutB;
  animation-name: bounceoutB;
}

/* 弹出-向下 */
@-webkit-keyframes bounceoutB {
  0% {
    -webkit-transform: translateY(0);
  }
  20% {
    opacity: 1;
    -webkit-transform: translateY(-20px);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(100px);
  }
}
@keyframes bounceoutB {
  0% {
    transform: translateY(0);
  }
  20% {
    opacity: 1;
    transform: translateY(-20px);
  }
  100% {
    opacity: 0;
    transform: translateY(100px);
  }
}
/* yo-font-face start */
@font-face {
  font-family: yofont;
  src: url(../../../assets/fonts/yo/1.0.0/yofont.woff) format("woff"), url(../../../assets/fonts/yo/1.0.0/yofont.ttf) format("truetype");
}
.yo-ico {
  font-family: yofont !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  vertical-align: middle;
}

/* yo-font-face end */
/* global reboot start */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* for root(html) rem, with different dpr attribute */
@media (min--moz-device-pixel-ratio: 1.5), (-webkit-min-device-pixel-ratio: 1.5), (min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
  html[ios="true"] {
    font-size: 200px;
  }
}
@media (min--moz-device-pixel-ratio: 2.5), (-webkit-min-device-pixel-ratio: 2.5), (min-device-pixel-ratio: 2.5), (min-resolution: 240dpi), (min-resolution: 2.5dppx) {
  html[ios="true"] {
    font-size: 300px;
  }
}
img {
  display: block;
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  border: 0;
  page-break-inside: avoid;
}

/* a tag glabal set */
a,
a:active,
a:visited,
a:focus,
a:hover {
  text-decoration: none;
  outline: none;
  color: inherit;
}

/* remove touch outline for elements in some device */
input,
textarea,
button,
select div,
p,
a {
  outline: 0 none;
  -webkit-tap-highlight-color: transparent;
}

[ms-controller],
.ms-controller,
[ms-important],
.ms-important {
  visibility: hidden;
}

html,
body {
  width: 100%;
  /* for global rem */
  font-size: 100px;
  line-height: 1.5;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-tap-highlight-color: transparent;
  min-height: 100%;
  background-color: #f1f1f1;
}

html.native-scrolling {
  /* 系统原生滚动效果 */
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

body {
  font-family: "Helvetica Neue", Helvetica, STHeiTi, sans-serif;
  text-align: center;
  background-color: #f1f1f1;
  color: #333438;
  font-size: .14rem;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

h1,
h2,
h3,
h4,
h5,
h6,
small,
big,
input,
textarea,
button,
select {
  font-size: inherit;
}

.icon {
  width: .16rem;
  height: .16rem;
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100%;
  vertical-align: middle;
  margin-right: .05rem;
}

/* global reboot end */
/* utils start */
@media all and (min-device-width: 321px) and (max-device-width: 2049px) {
  .silk-container {
    line-height: 0.38rem !important;
  }
}
.global-noContent-tip-light {
  width: 90%;
  padding: .3rem;
  margin: 0 auto;
  margin-top: .5rem;
  font-size: .16rem;
  color: #fff;
  text-align: left;
  line-height: 2;
  text-indent: 2em;
  border: 2px solid #64c400;
  border-radius: 10px;
  background-color: white;
}

.global-noContent-tip-dark {
  width: 90%;
  padding: .3rem;
  margin: 0 auto;
  margin-top: .5rem;
  font-size: .16rem;
  color: #333438;
  text-align: left;
  line-height: 2;
  text-indent: 2em;
  border: 2px solid #64c400;
  border-radius: 10px;
  background-color: white;
}

.area {
  display: inline-block;
  vertical-align: top;
}

.tac {
  text-align: center;
}

.tal {
  text-align: left;
}

.tar {
  text-align: right;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.text-overflow {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.fixed-top {
  position: fixed;
  top: 0;
  bottom: auto;
  z-index: 99999;
}

.fixed-bottom {
  position: fixed;
  top: auto;
  bottom: 0;
  margin-bottom: 1px;
}

ul,
.unstyled {
  list-style: none;
  padding: 0;
  margin: 0;
}

.hide {
  display: none !important;
}

.hidden {
  display: none !important;
  visibility: hidden !important;
}

.show {
  display: block !important;
}

.invisible {
  visibility: hidden;
}

.text-hide,
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

.block-center {
  margin-left: auto;
  margin-right: auto;
}

.common-bottom-footer {
  font-size: .14rem;
  margin: 0;
  width: 100%;
  height: .44rem;
  line-height: .44rem;
  bottom: 0;
  left: 0;
  background-color: #323436;
  opacity: .9;
  color: whitesmoke;
  font-weight: bold;
}

.show-more-btn {
  display: inline-block;
  width: 100%;
  height: .44rem;
  line-height: .44rem;
  text-align: center;
}

.img-bg {
  width: 100%;
}

/* common silk style */
.silk-common {
  width: 100%;
  height: 0.6rem;
  line-height: .32rem;
  background-repeat: no-repeat;
  background-size: 98%;
  background-position: center top;
  position: absolute;
  left: 0;
  top: -0.3rem;
  text-align: center;
  color: #fff;
  font-size: .18rem;
  z-index: 99;
}

/* utils end */
.ui-mask {
  z-index: 8888;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
}

/* gmu dialog start */
.ui-dialog {
  z-index: 99999;
  overflow: hidden;
  width: 85%;
  max-width: 2.7rem;
  height: auto;
  border-radius: .07rem;
  position: fixed;
  top: 40%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  -webkit-tap-highlight-color: transparent;
  background-color: #e8e8e8;
  -webkit-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
}

.ui-dialog .ui-dialog-title {
  position: relative;
}

.ui-dialog-container {
  position: relative;
}

.ui-dialog .ui-dialog-title {
  height: .4rem;
  line-height: .5rem;
  font-size: .18rem;
  text-align: center;
  font-weight: 700;
  color: #3d4145;
}

.ui-dialog .ui-dialog-content {
  padding: .05rem;
  position: relative;
}

.ui-dialog .ui-dialog-content p {
  font-size: .16rem;
  padding: 0 .1rem;
  text-align: center;
  line-height: 1.5;
}

.ui-dialog-btns {
  table-layout: fixed;
  display: table;
  border-collapse: collapse;
  margin: .05rem 0 0 0;
  width: 100%;
}

.ui-dialog-btns .ui-btn {
  padding: 0;
  font-size: .16rem;
  width: 100%;
  display: table-cell;
  float: none;
  text-align: center;
  height: .44rem;
  line-height: .44rem;
  color: #0079ff;
  border: 1px solid #b5b5b5;
  border-bottom: 0 none;
  cursor: pointer;
}

.ui-dialog-btns .ui-btn:first-child {
  border-left: 0 none;
  font-weight: 600;
  /* for recomand */
}

.ui-dialog-btns .ui-btn:last-child {
  border-right: 0 none;
}

/* gmu dialog end */
/* yo-list start */
.yo-stacked {
  display: block;
  margin: 0.2rem 0.1rem;
}

.yo-flex {
  height: 100%;
}

.yo-flex,
.yo-flex .flex-inherit {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  flex-direction: column;
  overflow: hidden;
}

.yo-flex > .flex,
.yo-flex .flex-inherit,
.yo-flex .flex-inherit > .flex {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  flex: 1;
  position: relative;
}

.yo-flex > .flex,
.yo-flex .flex-inherit > .flex {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

.yo-flex > .flex > .yo-flex,
.yo-flex .flex-inherit > .flex > .yo-flex {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.yo-align {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
}

.yo-list > .label,
.yo-list > .item,
.yo-list .front {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-transform: translatez(0);
  transform: translatez(0);
}

.yo-list > .label > .mark:not(:last-child),
.yo-list > .label > .yo-ico:not(:last-child),
.yo-list > .item > .mark:not(:last-child),
.yo-list > .item > .yo-ico:not(:last-child),
.yo-list .front > .mark:not(:last-child),
.yo-list .front > .yo-ico:not(:last-child) {
  margin-right: .1rem;
}

.yo-list > .label > .flex,
.yo-list > .item > .flex,
.yo-list .front > .flex {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  flex: 1;
  width: .1px;
}

.yo-list > .label > .mark,
.yo-list > .label > .yo-ico,
.yo-list > .label > .col,
.yo-list > .label > .flex,
.yo-list > .item > .mark,
.yo-list > .item > .yo-ico,
.yo-list > .item > .col,
.yo-list > .item > .flex,
.yo-list .front > .mark,
.yo-list .front > .yo-ico,
.yo-list .front > .col,
.yo-list .front > .flex {
  display: block;
}

.yo-list > .label.tr,
.yo-list > .item.tr,
.yo-list .front.tr {
  padding: 0;
}

.yo-list > .label {
  padding: 0.03rem 0.1rem;
  border: 1px solid #eee;
  border-width: 0 0 1px 0;
  background-color: #fafafa;
  color: #666;
  font-size: 0.13rem;
  font-weight: normal;
}

.yo-list > .label > .col {
  padding: 0.03rem 0.1rem;
}

.yo-list > .label:not(:first-child) {
  border-width: 1px 0;
  margin-top: -1px;
}

.yo-list > .item,
.yo-list .front {
  padding: 0.11rem 0.1rem 0.12rem;
}

.yo-list > .item {
  background-color: #fff;
  color: #212121;
  font-size: 0.14rem;
  background-image: -webkit-linear-gradient(#ddd, #ddd);
  background-image: linear-gradient(#ddd, #ddd);
  -webkit-background-size: 100% 1px;
  background-size: 100% 1px;
  background-repeat: no-repeat;
  background-position: 0.1rem bottom;
}

.yo-list > .item:last-child {
  margin-bottom: -1px;
  background-image: -webkit-linear-gradient(#ccc, #ccc);
  background-image: linear-gradient(#ccc, #ccc);
  background-position: 0 bottom;
}

.yo-list > .item-stacked {
  display: block;
}

.yo-list > .item-stacked > .mark {
  padding-bottom: .05rem;
}

.yo-list > .item-input > .yo-input {
  height: auto;
  padding: 0;
  border: 0;
}

.yo-input {
  /* mark added 201509242242 */
  width: 100%;
  height: 0.44rem;
  line-height: inherit;
  /* added for vertical-center */
  padding: 0.1rem;
  border: 1px solid #ccc;
  border-radius: 0.02rem;
  -webkit-background-clip: padding-box !important;
  background-clip: padding-box !important;
  background-color: transparent;
  vertical-align: top;
}

.yo-input,
.yo-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  appearance: none;
}

.yo-input::-webkit-input-placeholder {
  color: #bbb;
}

.yo-list > .item.item-active:active,
.yo-list > .item.item-light {
  background-color: #f8f8f8;
}

.yo-list > .item > .col {
  padding: 0.11rem 0.1rem 0.12rem;
}

.yo-list > .yo-slidermenu {
  display: block;
  padding: 0 0 1px 0 !important;
}

.yo-list-inset {
  margin: 0.2rem 0.1rem 0 0.1rem;
  border-radius: 0.02rem;
  border-width: 1px;
  border-color: #ccc;
  border-style: solid;
}

.yo-list-group > .label {
  padding: 0.18rem 0.1rem 0.03rem;
  border-color: #ccc;
  background-color: transparent;
}

.yo-list-group > .label > .col {
  padding: 0.18rem 0.1rem 0.03rem;
}

.m-font {
  -webkit-user-select: text;
  user-select: text;
}

.m-font .flex::before,
.m-font .flex::after {
  color: #999;
}

.m-font .flex::before {
  content: "( ";
}

.m-font .flex::after {
  content: " )";
}

/* yo-list end */
/* yo-btn start */
.yo-btn {
  display: inline-block;
  overflow: hidden;
  padding: 0 1.2em;
  vertical-align: top;
  border-width: 1px;
  border-style: solid;
  border-color: #e26704;
  border-radius: 0.02rem;
  -webkit-background-clip: padding-box !important;
  background-clip: padding-box !important;
  background-color: #ff801a;
  color: #fff;
  text-align: center;
  cursor: pointer;
}

.yo-btn-disabled {
  opacity: 1;
  cursor: not-allowed;
}

.yo-btn-disabled,
.yo-btn-disabled:focus,
.yo-btn-disabled:active {
  border-color: #ccc;
  background-color: #e0e0e0;
  color: #bbb;
}

.yo-btn-s {
  height: 0.28rem;
  line-height: 0.28rem;
  font-size: 0.12rem;
}

.yo-btn-m {
  height: 0.36rem;
  line-height: 0.36rem;
  font-size: 0.14rem;
}

.yo-btn-l {
  height: 0.44rem;
  line-height: 0.44rem;
  font-size: 0.16rem;
}

.yo-btn-stacked {
  display: block;
  width: 100%;
}

.yo-btn-light {
  border-color: #ddd;
  background-color: #fff;
  color: #212121;
}

.yo-btn-info {
  border-color: #0456e2;
  background-color: #4a87ee;
}

/* yo-btn end */
.task {
  min-height: 7.36rem;
}

/* koudai jinbi start */
.koudai-wrapper {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  background-color: #DB4444;
  min-height: 8rem;
}

.item1 {
  margin-top: 50%;
  height: 1.5rem;
  position: relative;
  padding: .3rem;
  text-align: center;
  -webkit-transition: top 1.2s linear;
  transition: top 1.2s linear;
}

.item1 .kodai {
  position: absolute;
  bottom: 0;
  cursor: pointer;
  left: 50%;
  margin-left: -.72rem;
}

.item1 .kodai .full {
  display: block;
}

.item1 .kodai .empty {
  display: none;
}

.item1 .clipped-box {
  display: none;
  position: absolute;
  bottom: .4rem;
  left: .8rem;
  height: 5.4rem;
  width: 9.8rem;
}

.item1 .clipped-box img {
  position: absolute;
  top: auto;
  left: 0;
  bottom: 0;
  -webkit-transition: -webkit-transform 1.4s ease-in, background 0.3s ease-in;
  transition: transform 1.4s ease-in;
}

/* koudai jinbi end */
.top-area-common {
  width: 30%;
  height: 1rem;
  background-size: 64%;
  background-repeat: no-repeat;
}

.task-list {
  width: 100%;
  min-height: 7.36rem;
  background-size: 100%;
  background-position: center top;
  background-repeat: no-repeat;
  background-image: url(../../../assets/images/taskList-bg.png);
  color: #333438;
  padding-top: .15rem;
  background-color: #945e27;
  /* for too much items */
  padding-bottom: .44rem;
  /* for fixed footer */
}
.task-list .global-noContent-tip-dark {
  margin-top: 0rem !important;
  margin-bottom: 0.2rem !important;
}
.task-list .item-wrapper {
  max-width: 3.8rem;
  background: rgba(0, 69, 99, 0.5);
  width: 92%;
  margin: 0 auto;
  margin-top: .7rem;
  /* overwrite */
  padding: .12rem .06rem;
  position: relative;
  border-radius: 3px;
}
.task-list .item-wrapper .silk-common {
  width: 100%;
  height: 0.6rem;
  background-image: url(../../../assets/images/silk-green.png);
  background-size: 100%;
  background-repeat: no-repeat;
  position: absolute;
  top: -.6rem;
  line-height: .32rem;
}
.task-list .item-wrapper .top-score-area {
  background-size: 100%;
  background-position: center top;
  background-repeat: no-repeat;
  background-image: url(../../../assets/images/rank-nb.png);
  width: 37%;
  max-width: 1.07rem;
  /* must fixed value */
  height: .44rem;
  position: relative;
  top: -.28rem;
  margin-bottom: -.44rem;
}
.task-list .item-wrapper .top-score-area .top-score-text {
  color: #fff;
  position: absolute;
  top: .08rem;
  left: .37rem;
  width: .6rem;
  text-align: center;
}
.task-list .list-card {
  width: 100%;
  margin-bottom: .10rem;
  text-align: left;
  position: relative;
  display: inline-block;
  overflow: hidden;
  padding: .08rem;
  border-radius: 10px;
  background-color: #ffefb5;
}
.task-list .list-card .inner-box {
  display: block;
}
.task-list .list-card .left-icon {
  width: 25%;
  max-width: .67rem;
  height: .67rem;
  border-radius: 15px;
  background-image: url(../../../assets/images/taskList-item-icon.png);
  border: 2px solid #bdd3ad;
  background-size: 100%;
  position: relative;
}
.task-list .list-card .left-icon .scoreAward {
  position: absolute;
  left: 50%;
  bottom: .01rem;
  margin-left: -.3rem;
  text-align: center;
  width: .6rem;
  font-size: .14rem;
  color: #ED6E41;
}
.task-list .list-card .right-area {
  width: 72%;
}
.task-list .list-card .right-area .title {
  width: 100%;
  font-size: .14rem;
  padding-left: .05rem;
}
.task-list .list-card .right-area .right-bottom-area {
  width: 100%;
  height: .5rem;
}
.task-list .list-card .right-area .right-bottom-area .progress-area {
  width: 62%;
  height: .41rem;
}
.task-list .list-card .right-area .right-bottom-area .progress-area .progress-text {
  font-size: .14rem;
  color: orange;
  padding-left: .05rem;
  padding-top: .05rem;
  letter-spacing: .01rem;
}
.task-list .list-card .right-area .right-bottom-area .progress-area .progress-wrapper {
  height: .3rem;
  line-height: .3rem;
  padding-left: .05rem;
  padding-right: .05rem;
}
.task-list .list-card .right-area .right-bottom-area .progress-area .progress-wrapper .progress-outer {
  height: 0.1rem;
  background-color: #fff;
  width: 99%;
  display: inline-block;
  vertical-align: top;
  margin-top: 0.05rem;
  border-radius: 0.1rem;
}
.task-list .list-card .right-area .right-bottom-area .progress-area .progress-wrapper .progress-outer .progress-inner {
  height: 0.1rem;
  background-color: #EF7549;
  border-radius: 0.1rem;
  width: 20%;
  /* default width */
}
.task-list .list-card .right-area .right-bottom-area .go {
  width: 35%;
  height: .41rem;
  background-image: url(../../../assets/images/taskList-btn.png);
  background-size: 99%;
  background-position: right bottom;
  background-repeat: no-repeat;
}

/**
 *  for microsite task or outer static use
 *  
 */
/**
 *  for wxShareMask & others 
 *  created on 201509031750
 */
/* global-animation start 弹入-从右 */
.a-bounceoutB,
.a-bounceinB {
  -webkit-animation: .4s ease-in forwards;
  animation: .4s ease-in forwards;
}

/* question list 滑动复位动画 */
.a-bounceinR {
  -webkit-animation-name: bounceinR;
  -webkit-animation: .1s ease-in forwards;
  animation: .1s ease-in forward;
}

@keyframes bounceinR {
  0% {
    opacity: 1;
    -webkit-transform: translateX(-40px);
  }
  60% {
    opacity: 1;
    -webkit-transform: translateX(0px);
  }
  80% {
    -webkit-transform: translateX(0px);
  }
  100% {
    -webkit-transform: translateX(0px);
  }
}
@-webkit-keyframes bounceinR {
  0% {
    opacity: 1;
    -webkit-transform: translateX(-40px);
  }
  60% {
    opacity: 1;
    -webkit-transform: translateX(0px);
  }
  80% {
    -webkit-transform: translateX(0px);
  }
  100% {
    -webkit-transform: translateX(0px);
  }
}
/* global-animation end   弹入-从右 */
/* 弹入-从下 */
.a-bounceinB {
  -webkit-animation-name: bounceinB;
  -moz-animation-name: bounceinB;
  -ms-animation-name: bounceinB;
  animation-name: bounceinB;
}

/* 弹入-从下 */
@-webkit-keyframes bounceinB {
  0% {
    opacity: 0;
    -webkit-transform: translateY(100px);
  }
  60% {
    opacity: 1;
    -webkit-transform: translateY(-30px);
  }
  80% {
    -webkit-transform: translateY(10px);
  }
  100% {
    -webkit-transform: translateY(0);
  }
}
@keyframes bounceinB {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }
  60% {
    opacity: 1;
    transform: translateY(-30px);
  }
  80% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0);
  }
}
/* 弹出-向下 */
.a-bounceoutB {
  -webkit-animation-name: bounceoutB;
  -moz-animation-name: bounceoutB;
  -ms-animation-name: bounceoutB;
  animation-name: bounceoutB;
}

/* 弹出-向下 */
@-webkit-keyframes bounceoutB {
  0% {
    -webkit-transform: translateY(0);
  }
  20% {
    opacity: 1;
    -webkit-transform: translateY(-20px);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(100px);
  }
}
@keyframes bounceoutB {
  0% {
    transform: translateY(0);
  }
  20% {
    opacity: 1;
    transform: translateY(-20px);
  }
  100% {
    opacity: 0;
    transform: translateY(100px);
  }
}
.header-for-webapp .detail {
  margin-top: .44rem;
}

.detail {
  color: #1c1c1c;
  padding: 0 .16rem;
  text-align: left;
  margin-bottom: .44rem;
  max-width: 6rem;
  margin-left: auto;
  margin-right: auto;
}
.detail .title {
  font-size: .22rem;
  padding: .12rem 0 .12rem 0;
  /* fix top-striped first in render bug, should not use margin, 20150813 */
  line-height: 1.3;
}
.detail .count {
  font-size: .14rem;
  display: inline-block;
  vertical-align: top;
  color: #999999;
}
.detail .count span {
  padding-right: .05rem;
}
@media only screen and (min-device-width: 319px) and (max-device-height: 481px) {
  .detail .count {
    font-size: .12rem;
  }
}
.detail .gap-point {
  font-size: .04rem;
  position: relative;
  top: -.02rem;
  color: #999999;
}
.detail .cover-img {
  margin: .18rem 0;
}
.detail .cover-img img {
  width: 100%;
  max-width: 4.5rem;
  margin: 0 auto;
}
.detail .content {
  margin-top: .15rem;
  font-size: .18rem;
  /* 继承到所有子元素 */
  line-height: 1.7;
  /* 继承到所有子元素 */
}
.detail .content img {
  width: 100%;
  margin-top: .1rem;
  margin-bottom: .1rem;
}
.detail .content h1 {
  font-size: .22rem;
}
.detail .content h2 {
  font-size: .20rem;
}
.detail .content h3 {
  font-size: .18rem;
}
.detail .content h4 {
  font-size: .16rem;
}
.detail .content h1, .detail .content h2, .detail .content h3, .detail .content h4, .detail .content h5, .detail .content h6 {
  margin: .1rem 0;
}
.detail .content dd, .detail .content dl, .detail .content dt {
  margin: 0;
}
.detail .content p {
  margin-bottom: .16rem;
  position: relative;
  word-break: break-all;
  color: #444242;
}
.detail .content iframe {
  display: block;
  width: 100%;
  margin: 0 auto;
}
.detail .task-helper-btn {
  width: 60%;
  height: .44rem;
  line-height: .44rem;
  margin: 0 auto;
  font-size: .16rem;
  color: #fff;
  background-color: #64c400;
  text-align: center;
  border-radius: 3px;
}
.detail .shareMask {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(6, 6, 6, 0.9);
  padding: .3rem;
  padding-top: .2rem;
  min-height: 8rem;
  z-index: 999;
}
.detail .shareMask .task-shareMask-tip-text {
  color: #fff;
  font-weight: bold;
  font-size: .18rem;
  position: absolute;
  top: .68rem;
  left: 50%;
  margin-left: -.4rem;
}
.detail .shareMask img {
  margin: 0 auto;
}
.detail .shareMask img.wxShareIcon {
  display: block;
  width: 1rem;
  margin-top: .3rem;
  margin-bottom: .3rem;
}
.detail .shareMask img.shareMaskBottom {
  margin-top: 0;
}
.detail .shareMask .iKnow {
  width: 100%;
  height: .4rem;
  color: #fff;
  font-size: .14rem;
  text-align: center;
  margin-top: .5rem;
}
.detail .pageinfo {
  text-align: left;
}
.detail .pageinfo .like-num-wrapper {
  margin: .1rem auto;
  text-align: center;
  border-bottom: 2px solid #ddd;
  padding-bottom: .2rem;
}
.detail .pageinfo .like-num-update {
  /*color: $main-green;*/
}
.detail .pageinfo .isShared {
  color: #00abfd;
}
.detail .pageinfo .share, .detail .pageinfo .visit, .detail .pageinfo .like {
  display: inline-block;
  height: .3rem;
  line-height: .3rem;
  font-size: .14rem;
  position: relative;
  top: .2rem;
  margin-right: .1rem;
}
.detail .pageinfo .share .icon, .detail .pageinfo .visit .icon, .detail .pageinfo .like .icon {
  width: .16rem;
  height: .16rem;
  display: inline-block;
}
.detail .pageinfo .share .icon-share, .detail .pageinfo .visit .icon-share, .detail .pageinfo .like .icon-share {
  background-image: url(../../../assets/images/iconfont-share.png);
}
.detail .pageinfo .share .icon-visit, .detail .pageinfo .visit .icon-visit, .detail .pageinfo .like .icon-visit {
  background-image: url(../../../assets/images/iconfont-yuedu.png);
}
.detail .pageinfo .share .icon-like, .detail .pageinfo .visit .icon-like, .detail .pageinfo .like .icon-like {
  background-image: url(../../../assets/images/iconfont-like.png);
  position: relative;
  top: -.02rem;
}
.detail .pageinfo .share .hasLiked, .detail .pageinfo .visit .hasLiked, .detail .pageinfo .like .hasLiked {
  color: #00abfd;
  background-image: url(../../../assets/images/iconfont-hasLiked.png);
}
.detail .pageinfo .report {
  float: right;
  position: relative;
  top: .24rem;
  font-size: .14rem;
  color: #999999;
}

/* activity start */
.infoCollect-wrapper {
  text-align: center;
  position: fixed;
  width: 100%;
  left: 0;
  bottom: 0;
}
.infoCollect-wrapper .sign-up-btn-wrapper {
  width: 100%;
  position: fixed;
  left: 0;
  bottom: 0;
}
.infoCollect-wrapper .sign-btn {
  position: relative;
  left: 0;
  width: 100%;
  display: inline-block;
  border: none;
  border-radius: 0;
  height: .44rem;
  line-height: .44rem;
}

.activity-info-form {
  text-align: center;
  background-color: #fff;
  padding: .1rem;
  border-radius: 3px;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
}
.activity-info-form-title {
  text-align: center;
  margin: .1rem;
}
.activity-info-form .yo-btn {
  margin-top: .1rem;
  margin-bottom: .1rem;
  margin-right: .1rem;
}

.btn-scoreAward {
  border: none;
  /* overwrite */
  display: block;
  width: 92%;
  height: .3rem;
  line-height: .30rem;
  margin: 0 auto;
  margin-top: .1rem;
  background-color: #F25454;
  color: #fff;
}

[avalonctrl="activity"] .pageinfo {
  margin-bottom: .7rem;
}

/* activity end */
.mall {
  background-color: #ea68a2;
  padding-bottom: .3rem;
}

.mall-top-bg {
  background: url(../../../assets/images/mall-top.png) no-repeat center top;
  background-size: 100%;
  height: 2.15rem;
}

.mall-wrapper {
  text-align: left;
  width: 94%;
  margin: 0.6rem auto;
  background-color: #f8d95d;
  position: relative;
  padding-top: 0.5rem;
  padding-bottom: 0.3rem;
  padding-left: .06rem;
  padding-right: .06rem;
  max-width: 4.5rem;
  margin: 0 auto;
  /* mall item end */
}
.mall-wrapper .mall-wrapper-silk {
  background-image: url(../../../assets/images/silk-red.png);
  top: -.1rem;
}
.mall-wrapper .mall-item {
  display: inline-block;
  width: 45%;
  /* mark! */
  margin-top: .10rem;
  margin-left: .10rem;
  background: #fff;
  padding: .03rem 0;
  padding-top: 0;
  text-align: left;
  border-radius: .03rem;
  color: #999999;
  /*.icon {*/
  /*width: .18rem;*/
  /*height: .18rem;*/
  /*position: relative;*/
  /*top: -.01rem;*/
  /*}*/
}
.mall-wrapper .mall-item .img-wrapper {
  width: 100%;
  position: relative;
}
.mall-wrapper .mall-item img {
  display: inline-block;
  width: 100%;
}
.mall-wrapper .mall-item .title {
  display: inline-block;
  width: 100%;
  padding: .03rem .08rem .03rem;
  line-height: 1.3;
  font-size: .14rem;
  color: #333438;
}
.mall-wrapper .mall-item .price {
  position: absolute;
  right: 0;
  bottom: 0;
  width: .7rem;
  max-width: .7rem;
  text-align: center;
  font-size: .12rem;
  line-height: .16rem;
  padding: .03rem;
  background: rgba(249, 47, 47, 0.7);
  color: #fff;
}
.mall-wrapper .mall-item .exchangeTimes {
  display: inline-block;
  width: 48%;
  text-align: left;
  padding-left: .1rem;
  font-size: .12rem;
  vertical-align: top;
}
.mall-wrapper .mall-item .stock {
  display: inline-block;
  width: 48%;
  text-align: right;
  padding-right: .1rem;
  font-size: .12rem;
  vertical-align: top;
}

/* mall-wrapper end */
.mall-rules {
  width: 94%;
  margin: 0 auto;
  background-color: #f77d65;
  min-height: 1.5rem;
  position: relative;
  max-width: 4.5rem;
  margin: 0 auto;
  margin-top: .2rem;
}
.mall-rules .mall-rules-silk {
  background-image: url(../../../assets/images/silk-blue.png);
}
.mall-rules .rules-text {
  width: 100%;
  min-height: 0.9rem;
  color: #fff;
  font-size: .14rem;
  white-space: normal;
  word-break: break-all;
  padding: .1rem;
  padding-top: .35rem;
  line-height: 1.9;
  text-align: left;
}

.rank {
  background-color: #fdf7bb;
  /* rank-wrapper end */
}
.rank .rank-top-bg {
  width: 100%;
  height: 3rem;
  background: url(../../../assets/images/rank-top.png) no-repeat center top;
  background-size: 100%;
}
.rank .my-info-panel {
  max-width: 4.5rem;
  margin: 0 auto;
  height: 1rem;
  color: #666;
  font-size: .16rem;
  position: relative;
  padding: .15rem;
  padding-left: 1.2rem;
  margin-bottom: .35rem;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-top: .4rem;
  background-color: #ffe266;
  /* extend silk-common */
}
.rank .my-info-panel .my-info-panel-top-bg {
  background-image: url(../../../assets/images/silk-green.png);
}
.rank .my-info-panel .my-rank-rank {
  width: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  color: #d7900f;
}
.rank .rank-wrapper {
  background-color: #fdf7bb;
  padding-top: .1rem;
  position: relative;
  /* rank list end */
}
.rank .rank-wrapper .rank-list-top-bg {
  width: 100%;
  color: #615C5C;
  background: url(../../../assets/images/rank-tit.png) no-repeat center;
  position: relative;
  top: -.14rem;
  width: 1.6rem;
  background-size: 50%;
  height: .31rem;
  left: 50%;
  margin-left: -.8rem;
}
.rank .rank-wrapper .rank-list {
  max-width: 4.5rem;
  width: 90%;
  margin: 0 auto;
  background-color: #fa7a7a;
  padding-bottom: .65rem;
  padding-left: .15rem;
  padding-right: .15rem;
  font-size: .16rem;
  text-align: center;
  color: #fff;
  /* common item */
  /* common item */
  /* rank common line end */
}
.rank .rank-wrapper .rank-list .rank-div {
  display: inline-block;
  vertical-align: top;
  width: 35%;
  height: 0.4rem;
  line-height: 0.4rem;
  position: relative;
  left: -.15rem;
  overflow: hidden;
}
.rank .rank-wrapper .rank-list .name-div {
  display: inline-block;
  vertical-align: top;
  width: 35%;
  height: 0.4rem;
  line-height: 0.4rem;
  text-align: left;
  overflow: hidden;
  /*position: relative;*/
  /*left: .2rem;*/
}
.rank .rank-wrapper .rank-list .score-div {
  display: inline-block;
  vertical-align: top;
  width: 25%;
  height: .4rem;
  line-height: .4rem;
  overflow: hidden;
}
.rank .rank-wrapper .rank-list .rank-title {
  padding: .15rem .05rem;
  /*border-bottom: 1px solid #ddd;*/
}
.rank .rank-wrapper .rank-list .rank-title .name-div {
  position: relative;
  left: .15rem;
}
.rank .rank-wrapper .rank-list .rank-title .icon {
  margin-left: .03rem;
  width: .32rem;
  height: .32rem;
  background-position: center top;
}
.rank .rank-wrapper .rank-list .rank-title .title-icon-rank {
  background-image: url(../../../assets/images/iconfont-);
}
.rank .rank-wrapper .rank-list .rank-title .title-icon-name {
  background-image: url(../../../assets/images/iconfont-jin.png);
}
.rank .rank-wrapper .rank-list .rank-title .title-icon-score {
  background-image: url(../../../assets/images/iconfont-jin.png);
}
.rank .rank-wrapper .rank-list .rank-common-line {
  padding: .15rem .05rem;
  /* along with above rank-title-line */
  /*border-bottom: 1px solid #ddd;*/
}
.rank .rank-wrapper .rank-list .rank-common-line .name-div {
  font-size: 14px;
}
.rank .rank-wrapper .rank-list .rank-common-line .icon {
  margin-left: .03rem;
  width: .32rem;
  height: .32rem;
  background-position: center top;
}
.rank .rank-wrapper .rank-list .rank-common-line .icon-rank-0 {
  background-image: url(../../../assets/images/iconfont-jin.png);
}
.rank .rank-wrapper .rank-list .rank-common-line .icon-rank-1 {
  background-image: url(../../../assets/images/iconfont-yin.png);
}
.rank .rank-wrapper .rank-list .rank-common-line .icon-rank-2 {
  background-image: url(../../../assets/images/iconfont-tong.png);
}
.rank .rank-wrapper .rank-list .rank-common-line .avatar {
  width: .28rem;
  height: .28rem;
  border-radius: 50%;
  display: inline-block;
  vertical-align: middle;
  margin-right: .05rem;
}
.rank .rank-wrapper .rank-list .rank-common-line .avatar-default {
  background: url(http://resource.hizuoye.com/images/avatar/children/default1.png) no-repeat center;
  background-size: 100%;
}
.rank .rank-bottom-bg {
  width: 100%;
  height: .3rem;
  background: url(../../../assets/images/rank-bottom.png) no-repeat center top;
  background-size: 90%;
  position: relative;
  top: -.28rem;
}

/*******************************************************
    > File Name: me.scss
    > Author: IndexXuan
    > Mail: indexxuan@gmail.com
    > Created Time: 2015年08月19日 星期三 10时13分24秒
 ******************************************************/
/* task me start */
/* task me end */
.me {
  text-align: left;
}

.profile-wrapper {
  position: relative;
  color: #fff;
  background-size: 100%;
  background-position: center;
  background-image: url(../../../assets/images/me-colorful-profile-bg.jpg);
}
.profile-wrapper .inner-wrapper {
  width: 100%;
  height: 1.6rem;
}
.profile-wrapper .update {
  position: absolute;
  right: .1rem;
  top: .2rem;
}
.profile-wrapper .update .icon-update {
  width: .16rem;
  height: .16rem;
  background: url(../../../assets/images/iconfont-updateProfile.png) no-repeat center;
  background-size: 100%;
  position: relative;
  top: -.01rem;
}

.avatar-wrapper {
  width: 100%;
  padding: .15rem .20rem;
  text-align: center;
}
.avatar-wrapper img {
  display: inline-block;
  width: 0.9rem;
  height: 0.9rem;
  border-radius: 50%;
  border: 2px solid #fff;
}

.column-wrapper {
  position: relative;
  text-align: center;
  background-color: #f6f6f6;
  margin-bottom: .1rem;
  padding: .05rem;
  color: #5c5454;
}
.column-wrapper .column-item {
  width: 22%;
  line-height: 1.8;
  text-align: center;
  vertical-align: middle;
}
.column-wrapper .gap-line {
  display: inline-block;
  vertical-align: middle;
  width: .01rem;
  height: .4rem;
  background-color: #dedede;
}

.editing-tips {
  padding: .08rem .01rem .1rem .01rem;
  text-align: center;
}

.update-profile-list {
  background-color: #fff;
  padding-right: .10rem;
  /* for right border-padding, balance with left */
  padding-bottom: .1rem;
  padding-left: .15rem;
  padding-right: 0;
}
.update-profile-list .avatar-wrapper {
  position: relative;
  text-align: left;
  border-bottom: 1px solid #ddd;
  /* mark! */
  background-color: #fff;
}
.update-profile-list .update-avatar-tip {
  position: absolute;
  left: 1.2rem;
  bottom: .48rem;
}
.update-profile-list .item {
  padding: .15rem .3rem;
  /* rewrite to make height higher */
  font-size: .16rem;
  color: #575151;
  width: 100%;
  display: inline-block;
}
.update-profile-list .item .icon {
  /* overwrite it */
  position: absolute;
  top: .14rem;
  left: .1rem;
}
.update-profile-list .item .profile-gender-label {
  display: inline-block;
  width: 30%;
  padding: 0;
  margin-right: .3rem;
}
.update-profile-list .item .left-item, .update-profile-list .item .right-item {
  /* too long name or other info */
  display: inline-block;
  vertical-align: middle;
  /* key! */
  max-width: 50%;
  /* key! great set! avoid text-overflow */
  overflow: hidden;
  height: .24rem;
  width: 49%;
}
.update-profile-list .item .left-item {
  text-align: left;
  position: relative;
  left: .2rem;
}
.update-profile-list .item .right-item {
  text-align: right;
}
.update-profile-list .info-gap {
  width: 15rem;
  height: .1rem;
  position: relative;
  top: -.01rem;
  left: -5rem;
  background-color: #f1f1f1;
}
.update-profile-list .icon {
  position: relative;
  top: -.01rem;
  margin-right: .15rem;
  width: .28rem;
  height: .28rem;
  background-size: 100%;
}
.update-profile-list .icon-name {
  background-image: url(../../../assets/images/iconfont-name.png);
}
.update-profile-list .icon-gender {
  background-image: url(../../../assets/images/iconfont-gender.png);
}
.update-profile-list .icon-parent {
  background-image: url(../../../assets/images/iconfont-parent.png);
}
.update-profile-list .icon-phone {
  background-image: url(../../../assets/images/iconfont-phone.png);
}
.update-profile-list .icon-school {
  background-image: url(../../../assets/images/iconfont-school.png);
}
.update-profile-list .icon-grade {
  background-image: url(../../../assets/images/iconfont-grade.png);
}
.update-profile-list .editing-btn-wrapper {
  text-align: center;
  margin: .2rem;
}

/* yo-checked start */
.yo-checked {
  display: inline-block;
  position: relative;
  width: 0.2rem;
  height: 0.2rem;
  font-size: 0.12rem;
  font-family: yofont;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
}

.yo-checked > input,
.yo-checked > .type {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.yo-checked > input {
  z-index: 2;
  opacity: 0;
}

.yo-checked > .type {
  border-radius: 0.05rem;
  -webkit-background-clip: padding-box !important;
  background-clip: padding-box !important;
  background-color: transparent;
  line-height: 0.2rem;
}

.yo-checked > .type::after {
  content: "";
  color: transparent;
}

.yo-checked > input:checked + .type::after {
  color: #2b94ff;
}

.yo-checked > input:disabled + .type {
  opacity: .4;
  background-color: #e0e0e0 !important;
}

.yo-checked > input:disabled + .type::after {
  color: #bbb !important;
}

.yo-checked-a > .type {
  border-width: 0.01rem;
  border-color: #ccc;
  border-style: solid;
  line-height: 0.18rem;
}

.yo-checked-a > input:checked + .type {
  border-color: #2b94ff;
}

.yo-checked-b > .type {
  border-width: 0.01rem;
  border-color: #ccc;
  border-style: solid;
  line-height: 0.18rem;
}

.yo-checked-b > input:checked + .type {
  border-color: #2b94ff;
  background-color: #2b94ff;
}

.yo-checked-b > input:checked + .type::after {
  color: white;
}

.yo-checked-c > .type {
  border-radius: 50%;
  border-width: 0.01rem;
  border-color: #ccc;
  border-style: solid;
  line-height: 0.18rem;
}

.yo-checked-c > input:checked + .type {
  border-color: #2b94ff;
  background-color: #2b94ff;
}

.yo-checked-c > input:checked + .type::after {
  color: white;
}

.yo-checked-d > .type::after {
  content: "";
}

.yo-checked-e > .type {
  border-width: 0.01rem;
  border-color: #ccc;
  border-style: solid;
  line-height: 0.18rem;
}

.yo-checked-e > .type::after {
  content: "";
}

.yo-checked-e > input:checked + .type {
  border-color: #2b94ff;
}

.yo-checked-f > .type {
  border-width: 0.01rem;
  border-color: #ccc;
  border-style: solid;
  line-height: 0.18rem;
}

.yo-checked-f > .type::after {
  content: "";
}

.yo-checked-f > input:checked + .type {
  border-color: #2b94ff;
  background-color: #2b94ff;
}

.yo-checked-f > input:checked + .type::after {
  color: white;
}

.yo-checked-g > .type {
  border-radius: 50%;
  border-width: 0.01rem;
  border-color: #ccc;
  border-style: solid;
  line-height: 0.18rem;
}

.yo-checked-g > .type::after {
  content: "";
}

.yo-checked-g > input:checked + .type {
  border-color: #2b94ff;
  background-color: #2b94ff;
}

.yo-checked-g > input:checked + .type::after {
  color: white;
}

/* yo-checked end */

/*# sourceMappingURL=task.css.map */
