<!-- topN start -->
<div class="list topN" ms-controller="list">
    
    <!--<h2 class="title-center-bar">{{currentCategoryName}}</h2>-->

    <div class="item-wrapper" ms-if="!noContent">
        <a ms-attr-href="'#!/detail/' + item._id" class="item area" ms-repeat-item="lists">
            <img class="item-img area" ms-attr-src="illy_resource_base + item.image+ '?imageView2/1/w/180/h/160/interlace/1'" ms-attr-alt="item.title" />
            <div class="right-area">
                <div class="created-time">{{item.created | date()}}</div>
                <h3 class="item-title area">{{item.title}}</h3>
                <div class="count visit-count"><span>阅读</span>{{item.visitCount}}</div> 
                <div class="count share-count"><span>分享</span>{{item.shareCount}}</div> 
                <div class="count like-count"><span>喜欢</span>{{item.like}}</div> 
            </div>
        </a>
    </div>
    <!-- item end -->

    <div ms-if="noContent">本栏目暂时没有收录文章，请稍后再来关注哦！</div>

    <a href="javascript:void(0)" class="show-more-btn" ms-if="!noContent && btnShowMore && isLoading === false && !noMoreData" ms-click="showMore()">加载更多</a>
    <a href="javascript:void(0)" class="show-more-btn" ms-if="!noContent && btnShowMore && isLoading === true">加载中...</a>
    <a href="javascript:void(0)" class="show-more-btn" ms-if="!noContent && btnShowMore && isLoading === false && noMoreData" ms-click="showMore()">没有更多了</a>
</div>
<!-- topN end -->

