<div ms-controller="rank" class="rank">

    <!--<div class="rank-top-bg"></div>-->
    <img class="img-bg" ms-attr-src="illy_images_base + '/rank-top.png'" />

    <div class="my-info-panel">
        <div class="my-info-panel-top-bg silk-container silk-common">
            我的排名
        </div>
        <div class="my-rank-rank">排名第{{myRank + 1}}，总积分{{myScore}}分!</div>
    </div>

    <div class="rank-wrapper">

        <ul class="rank-list">

            <div class="rank-list-top-bg">
            </div>

            <li class="rank-title">
                <div class="rank-div"><i class="title-icon-rank"></i> 排名</div>
                <div class="name-div"><i class="title-icon-name"></i> 姓名</div>
                <div class="score-div"><i class="title-icon-score"></i> 积分</div>
            </li>

            <li class="rank-common-line" ms-repeat-item="ranks">
                <div class="rank-div mark" ms-visible="$index < 3"><i ms-attr-class="'icon icon-rank-' + $index"></i></div>
                <div class="rank-div mark" ms-visible="$index >= 3">{{$index + 1}}</div>
                <div class="name-div flex">
                    <img ms-if="item.avatar != undefined" class="avatar rank-body-avatar" ms-attr-src="illy_resource_base + item.avatar + '?imageView2/1/w/64/h/64'" ms-attr-alt="item.displayName" />
                    <div ms-if="item.avatar == undefined" class="avatar avatar-default rank-body-avatar"></div>
                    {{item.displayName}}
                </div>
                <div class="score-div">{{item.score}}</div>
            </li>

        </ul>
    </div>

    <div class="rank-bottom-bg"></div>

</div>

