<!-- taskList start -->
<div class="task-list" ms-controller="taskList">

    <!--     <div class="top-area-common top-left-area area" ms-click="goRank"><div class="inner"></div></div> -->
    <!--     <div class="top-score-area area"><div class="top-score-text">{{score}}</div></div>
    --><!--     <div class="top-area-common top-me-area area" ms-click="goMe"><div class="inner" ms-css-background-image="'url(' + avatar + ')'"></div></div>
    -->
    <!-- item start -->
    <div class="item-wrapper">

        <div class="silk-container silk-common title-bg">
            任务列表
        </div>

        <div class="top-score-area area"><div class="top-score-text">{{score}}</div></div>

        <!-- task列表 start -->
        <div class="global-noContent-tip-dark" ms-if="noContent">恭喜您，完成了所有任务，请等待新任务!赚积分，拿大奖!</div>

        <div class="item area list-card" ms-repeat-item="lists">
            <div class="inner-box" ms-click="goSpecTask(this)" ms-attr-data-tasktype="item.taskType" ms-attr-data-taskid="item._id" ms-attr-data-taskscoreaward="item.scoreAward">
                <!--<a class="inner-box" ms-attr-href="( item.taskType === 0 ? '#!/article/' : '#!/activity/' ) + item._id + '/score/' + item.scoreAward">-->

                    <div class="left-icon area">
                        <div class="scoreAward">+{{item.scoreAward}}</div>
                    </div>
                    <div class="right-area area">

                        <div class="title area text-overflow">
                            {{item.name}} 
                        </div>

                        <div class="right-bottom-area area">
                            <div class="progress-area area">
                                <div class="progress-text area">已完成 : {{item.participants}}人</div>
                                <!-- progress of task -->
                                <div class="progress-wrapper">
                                    <div class="progress-outer">
                                        <div class="progress-inner" ms-css-width=" ( (item.participants + 1) * 100 ) / studentCount + '%' "></div>  <!-- plus 1 for strong, 201509221912 -->
                                    </div>
                                </div>
                                <!-- progress of task -->
                            </div>
                            <div class="go area">

                            </div>
                        </div> <!-- end of right-bottom-area -->

                    </div> <!-- end of right-area -->

                    <!--</a>-->
            </div> <!-- end of inner-box -->

        </div> <!-- end of item -->

        <!-- task列表 end -->

    </div>
    <!-- item end -->

    <div class="show-more hide" ms-click="showMore()" ms-if="isLoading != true">
        加载更多
    </div>

    <!-- 加载中 -->
    <div class="show-more hide" class="isLoading" ms-if="isLoading == true">
        <span>加载中<span class="loading-with-dot"></span></span>
    </div>

</div>
<!-- taskList end -->

