<div class="info" ms-controller="info">

    <div class="panel">

        <div class="silk-common silk-container homework-info-silk">作业详情</div>

        <ul class="yo-list yo-list-group">
            <li class="item" ms-if="title != ''">
                <div class="flex tac">{{title}}</div>
            </li>
            <li class="item" ms-if="keyPoint != ''">
                <div class="flex keyPoint">{{keyPoint | html}}</div>
            </li>
            <li class="keyPointRecord-area area" ms-if="keyPointRecord != undefined">
                <div class="tac">

                    <audio class="hide keyPointAudio">
                        您的浏览器不支持播放!
                    </audio>     
                    
                    <!-- 录音完毕或者后退到本题时显示 -->
                    <div id="playRecord" class="playRecord record-btn" ms-class-1="playing: isPlaying==true" ms-on-click="toggleRecord()"><span class="record-total-time">{{duration}}</span>&quot<span ms-visible="!isPlaying"></span><span ms-visible="isPlaying"></span></div>

                    <span class="mark">点击播放课程重点录音:</span>
                </div>
            </li>
        </ul>

        <button class="go-question yo-btn yo-btn-l" ms-click="goNext()">去做题</button>

    </div>

</div>

