@charset "UTF-8";
/**
 *  for microsite task or outer static use
 *  
 */
/**
 *  for wxShareMask & others 
 *  created on 201509031750
 */
/* global-animation start 弹入-从右 */
.a-bounceoutB,
.a-bounceinB {
  -webkit-animation: .4s ease-in forwards;
  animation: .4s ease-in forwards;
}

/* question list 滑动复位动画 */
.a-bounceinR {
  -webkit-animation-name: bounceinR;
  -webkit-animation: .1s ease-in forwards;
  animation: .1s ease-in forward;
}

@keyframes bounceinR {
  0% {
    opacity: 1;
    -webkit-transform: translateX(-40px);
  }
  60% {
    opacity: 1;
    -webkit-transform: translateX(0px);
  }
  80% {
    -webkit-transform: translateX(0px);
  }
  100% {
    -webkit-transform: translateX(0px);
  }
}
@-webkit-keyframes bounceinR {
  0% {
    opacity: 1;
    -webkit-transform: translateX(-40px);
  }
  60% {
    opacity: 1;
    -webkit-transform: translateX(0px);
  }
  80% {
    -webkit-transform: translateX(0px);
  }
  100% {
    -webkit-transform: translateX(0px);
  }
}
/* global-animation end   弹入-从右 */
/* 弹入-从下 */
.a-bounceinB {
  -webkit-animation-name: bounceinB;
  -moz-animation-name: bounceinB;
  -ms-animation-name: bounceinB;
  animation-name: bounceinB;
}

/* 弹入-从下 */
@-webkit-keyframes bounceinB {
  0% {
    opacity: 0;
    -webkit-transform: translateY(100px);
  }
  60% {
    opacity: 1;
    -webkit-transform: translateY(-30px);
  }
  80% {
    -webkit-transform: translateY(10px);
  }
  100% {
    -webkit-transform: translateY(0);
  }
}
@keyframes bounceinB {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }
  60% {
    opacity: 1;
    transform: translateY(-30px);
  }
  80% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0);
  }
}
/* 弹出-向下 */
.a-bounceoutB {
  -webkit-animation-name: bounceoutB;
  -moz-animation-name: bounceoutB;
  -ms-animation-name: bounceoutB;
  animation-name: bounceoutB;
}

/* 弹出-向下 */
@-webkit-keyframes bounceoutB {
  0% {
    -webkit-transform: translateY(0);
  }
  20% {
    opacity: 1;
    -webkit-transform: translateY(-20px);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(100px);
  }
}
@keyframes bounceoutB {
  0% {
    transform: translateY(0);
  }
  20% {
    opacity: 1;
    transform: translateY(-20px);
  }
  100% {
    opacity: 0;
    transform: translateY(100px);
  }
}
.header-for-webapp .detail {
  margin-top: .44rem;
}

.detail {
  color: #1c1c1c;
  padding: 0 .16rem;
  text-align: left;
  margin-bottom: .44rem;
  max-width: 6rem;
  margin-left: auto;
  margin-right: auto;
}
.detail .title {
  font-size: .22rem;
  padding: .12rem 0 .12rem 0;
  /* fix top-striped first in render bug, should not use margin, 20150813 */
  line-height: 1.3;
}
.detail .count {
  font-size: .14rem;
  display: inline-block;
  vertical-align: top;
  color: #999999;
}
.detail .count span {
  padding-right: .05rem;
}
@media only screen and (min-device-width: 319px) and (max-device-height: 481px) {
  .detail .count {
    font-size: .12rem;
  }
}
.detail .gap-point {
  font-size: .04rem;
  position: relative;
  top: -.02rem;
  color: #999999;
}
.detail .cover-img {
  margin: .18rem 0;
}
.detail .cover-img img {
  width: 100%;
  max-width: 4.5rem;
  margin: 0 auto;
}
.detail .content {
  margin-top: .15rem;
  font-size: .18rem;
  /* 继承到所有子元素 */
  line-height: 1.7;
  /* 继承到所有子元素 */
}
.detail .content img {
  width: 100%;
  margin-top: .1rem;
  margin-bottom: .1rem;
}
.detail .content h1 {
  font-size: .22rem;
}
.detail .content h2 {
  font-size: .20rem;
}
.detail .content h3 {
  font-size: .18rem;
}
.detail .content h4 {
  font-size: .16rem;
}
.detail .content h1, .detail .content h2, .detail .content h3, .detail .content h4, .detail .content h5, .detail .content h6 {
  margin: .1rem 0;
}
.detail .content dd, .detail .content dl, .detail .content dt {
  margin: 0;
}
.detail .content p {
  margin-bottom: .16rem;
  position: relative;
  word-break: break-all;
  color: #444242;
}
.detail .content iframe {
  display: block;
  width: 100%;
  margin: 0 auto;
}
.detail .task-helper-btn {
  width: 60%;
  height: .44rem;
  line-height: .44rem;
  margin: 0 auto;
  font-size: .16rem;
  color: #fff;
  background-color: #64c400;
  text-align: center;
  border-radius: 3px;
}
.detail .shareMask {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(6, 6, 6, 0.9);
  padding: .3rem;
  padding-top: .2rem;
  min-height: 8rem;
  z-index: 999;
}
.detail .shareMask .task-shareMask-tip-text {
  color: #fff;
  font-weight: bold;
  font-size: .18rem;
  position: absolute;
  top: .68rem;
  left: 50%;
  margin-left: -.4rem;
}
.detail .shareMask img {
  margin: 0 auto;
}
.detail .shareMask img.wxShareIcon {
  display: block;
  width: 1rem;
  margin-top: .3rem;
  margin-bottom: .3rem;
}
.detail .shareMask img.shareMaskBottom {
  margin-top: 0;
}
.detail .shareMask .iKnow {
  width: 100%;
  height: .4rem;
  color: #fff;
  font-size: .14rem;
  text-align: center;
  margin-top: .5rem;
}
.detail .pageinfo {
  text-align: left;
}
.detail .pageinfo .like-num-wrapper {
  margin: .1rem auto;
  text-align: center;
  border-bottom: 2px solid #ddd;
  padding-bottom: .2rem;
}
.detail .pageinfo .like-num-update {
  /*color: $main-green;*/
}
.detail .pageinfo .isShared {
  color: #00abfd;
}
.detail .pageinfo .share, .detail .pageinfo .visit, .detail .pageinfo .like {
  display: inline-block;
  height: .3rem;
  line-height: .3rem;
  font-size: .14rem;
  position: relative;
  top: .2rem;
  margin-right: .1rem;
}
.detail .pageinfo .share .icon, .detail .pageinfo .visit .icon, .detail .pageinfo .like .icon {
  width: .16rem;
  height: .16rem;
  display: inline-block;
}
.detail .pageinfo .share .icon-share, .detail .pageinfo .visit .icon-share, .detail .pageinfo .like .icon-share {
  background-image: url(../../../assets/images/iconfont-share.png);
}
.detail .pageinfo .share .icon-visit, .detail .pageinfo .visit .icon-visit, .detail .pageinfo .like .icon-visit {
  background-image: url(../../../assets/images/iconfont-yuedu.png);
}
.detail .pageinfo .share .icon-like, .detail .pageinfo .visit .icon-like, .detail .pageinfo .like .icon-like {
  background-image: url(../../../assets/images/iconfont-like.png);
  position: relative;
  top: -.02rem;
}
.detail .pageinfo .share .hasLiked, .detail .pageinfo .visit .hasLiked, .detail .pageinfo .like .hasLiked {
  color: #00abfd;
  background-image: url(../../../assets/images/iconfont-hasLiked.png);
}
.detail .pageinfo .report {
  float: right;
  position: relative;
  top: .24rem;
  font-size: .14rem;
  color: #999999;
}

/* activity start */
.infoCollect-wrapper {
  text-align: center;
  position: fixed;
  width: 100%;
  left: 0;
  bottom: 0;
}
.infoCollect-wrapper .sign-up-btn-wrapper {
  width: 100%;
  position: fixed;
  left: 0;
  bottom: 0;
}
.infoCollect-wrapper .sign-btn {
  position: relative;
  left: 0;
  width: 100%;
  display: inline-block;
  border: none;
  border-radius: 0;
  height: .44rem;
  line-height: .44rem;
}

.activity-info-form {
  text-align: center;
  background-color: #fff;
  padding: .1rem;
  border-radius: 3px;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
}
.activity-info-form-title {
  text-align: center;
  margin: .1rem;
}
.activity-info-form .yo-btn {
  margin-top: .1rem;
  margin-bottom: .1rem;
  margin-right: .1rem;
}

.btn-scoreAward {
  border: none;
  /* overwrite */
  display: block;
  width: 92%;
  height: .3rem;
  line-height: .30rem;
  margin: 0 auto;
  margin-top: .1rem;
  background-color: #F25454;
  color: #fff;
}

[avalonctrl="activity"] .pageinfo {
  margin-bottom: .7rem;
}

/* activity end */

/*# sourceMappingURL=article.css.map */
