<div ms-controller="article" class="detail">

    <h2 class="title">{{title}}</h2>

    <div class="count visit-count"><span>阅读</span>{{visitCount}}</div> 
    <div class="count share-count"><span>分享</span>{{shareCount}}</div> 
    <div class="count like-count"><span>喜欢</span>{{likeCount}}</div> 

    <div class="count time fr">{{createdTime | date()}}</div>

    <div class="cover-img">
        <img class="big-image" ms-attr-src="image" />
    </div>

    <div class="content">{{content | html}}</div>

    <div class="task-helper-btn" ms-click="showShareMask" ms-if="isShared === false">领积分</div>
    <div class="task-helper-btn" ms-click="showShareMask" ms-if="isShared !== false">已领取{{scoreAward}}分奖励</div>

     <div class="shareMask" ms-visible="shareMaskShow" ms-click="hideShareMask">

        <img ms-attr-src="illy_images_base + '/shareMask-top.png'" />

        <p class="task-shareMask-tip-text">分享拿积分</p>

        <img class="wxShareIcon" ms-attr-src="illy_images_base + '/shareMask-wxShare-icon.png'" />

        <img ms-attr-src="illy_images_base + '/shareMask-adText.png'" />

        <div class="iKnow" ms-click="hideShareMask">朕知道了</div>

        <img class="shareMaskBottom" ms-attr-src="illy_images_base + '/shareMask-bottom.png'" />

    </div>

    <ul class="pageinfo list">

        <li class="visit" ms-click="showShareMask">阅读  {{visitCount}}</li>
        <li class="share" ms-click="showShareMask" ms-if="isShared != true">分享  {{shareCount}}</li>
        <li class="share" ms-click="showShareMask" ms-if="isShared == true">分享  {{shareCount}} (+1)</li>

        <div class="like" ms-click="like" ms-if="!hasLiked">赞<i class="icon icon-like" ms-class-1="hasLiked: hasLiked == true"></i><span class="like-num" ms-class-1="like-num-update: hasLiked == true">{{likeCount}}</span></div>
        <div class="like" ms-if="hasLiked == true">赞<i class="icon icon-like hasLiked"></i><span class="like-num" ms-class-1="like-num-update: hasLiked == true">{{likeCount}}</span></div>
        <div class="report" ms-click="report">举报</div>

    </ul>
    
    <!-- koudai jinbi start -->
    <div class="koudai-wrapper" ms-if="isShared === true">
        <div class="item1">
            <div class="kodai">
                <img ms-attr-src="illy_images_base + '/kd2.png'" class="full" />
                <img ms-attr-src="illy_images_base + '/kd1.png'" class="empty" />
            </div>
            <div class="clipped-box"></div>
        </div>
        <p id="html"></p>
    </div>
    <!-- koudai jinbi end -->

    <!--<div id="jumphelper" class="gotop">-->
    <!--    <a href="javascript:void(0)" id="gotop"></a>-->
    <!--</div>-->
    
</div>

