<div ms-controller="mall" class="mall">
    
    <!--<div class="mall-top-bg"></div>-->
    <img class="img-bg" ms-attr-src="illy_images_base + '/mall-top.png'" />

    <div class="mall-wrapper">

        <div class="silk-container silk-common mall-wrapper-silk">奖品展示</div>

        <div class="mall-item" ms-repeat-item="lists" data-repeat-rendered="rendered">
            <div class="img-wrapper area">
                <img class="area" ms-attr-data-index="$index" ms-attr-src="illy_resource_base + item.imageKey +'?imageView2/1/w/200'" ms-attr-alt="item.productName" />
                <div class="area price">{{item.score}}积分</div>
            </div>
            <div class="title text-overflow">{{item.productName}}</div>
            <div class="exchangeTimes">
                <span>兑换</span>
                {{parseInt(item.stock/5, 10)}}
            </div>
            <div class="stock">
                <span>库存</span>
                {{item.stock}}
            </div>
        </div>
    </div>

    <div class="show-big-image" ms-if="isShowingBigImage">
        <img class="area" ms-attr-src="currentImageSrc" ms-attr-alt="item.productName" />
    </div>

    <div class="mall-rules">
        <div class="silk-container silk-common mall-rules-silk">兑换规则</div>
        <pre class="rules-text">
            {{rules | html}}
        </pre>
    </div>

</div>

