<div ms-controller="task" class="task">

    <div class="ui-mask"  ms-visible="gMaskShow"></div>

    <div class="ui-dialog" ms-visible="gAlertShow">
        <div class="ui-dialog-title">
            <h3>系统提示</h3>
        </div>
        <div class="ui-dialog-content">
            <div title="提示">
                <p>{{appMessage}}</p>
            </div>
        </div>
        <div class="ui-dialog-btns">
            <a class="ui-btn ui-btn-1 g-Alert-iKnow-btn" ms-click="iKnowClick()">我知道了</a>
        </div>
    </div>
    
    <div ms-view=""></div>
</div>
