<!-- 具体一个题目 -->
<div class="question" ms-controller="question">

    <!-- progress of question -->
    <div class="progress-wrapper">
        <div class="progress-outer">
            <div class="progress-inner" ms-css-width="( localAnswers.length * 100 ) / total + '%' "></div> 
        </div>
        <span class="progress-text">{{currentId}} / {{total}}</span>
    </div>
    <!-- progress of question -->

    <!-- 公用题干 -->
    <p class="question-text">
        {{exercise.question | html}}<br/>  
        <span class="description" ms-if=" exercise.eType == 0 && !!exercise.description ">题目说明:{{exercise.description}}</span>
    </p>
    <!-- 公用题干 -->

    <!-- 题目主干渲染区, 依据不同类型 start -->

    <!-- 文字选择题-->
    <div class="yo-list yo-list-group" ms-visible="exercise.eType === 0">
        <label class="item item-active" ms-class-1="question-item-active: item.title === userAnswer" ms-repeat-item="exercise.choices">
            <span class="mark flex">
                {{item.title}}. {{item.content}} 
            </span>
            <div class="yo-checked yo-checked-c">
                <input type="radio" name="xiaoxuan" ms-attr-value="{{item.title}}" ms-duplex-string="userAnswer" ms-attr-disabled="(localAnswers.length >= currentId) && (userAnswer !== item.title)" />
                <span class="type"></span>
            </div>
        </label>
    </div>
    <!-- 文字选择题-->

    <!-- 图片选择题-->
    <div class="yo-list yo-list-group illy-img-list" ms-if="exercise.eType === 1">
        <label class="item item-active" ms-class-1="question-item-active: item.title === userAnswer" ms-repeat-item="exercise.choices">
            <div class="mark flex" ms-if="exercise.eType === 1"> <!-- key to not request img for not img question, avalon's bug -->
                <img ms-attr-src="illy_resource_base + item.content + '?imageView2/1/w/150/h/150'" />
            </div>
            {{item.title}}
            <div class="yo-checked yo-checked-c">
                <input type="radio" name="xiaoxuan" ms-attr-value="{{item.title}}" ms-duplex-string="userAnswer" ms-attr-disabled="(localAnswers.length >= currentId) && (userAnswer !== item.title)" />
                <span class="type"></span>
            </div>
        </label>
    </div>
    <!-- 图片选择题-->

    <!-- 填空题 -->
    <div class="fill-in yo-list" ms-visible="exercise.eType === 2">
        <label class="item item-input" ms-class-1="question-item-active: userAnswer !== ''">
            <textarea ms-if="localAnswers[currentId - 1] === void 0" placeholder="请在此输入问题答案" class="yo-input fill-in-textarea" ms-duplex-string="userAnswer">

            </textarea>
            <p ms-if="localAnswers[currentId - 1] !== void 0" class="answered-text" ms-visible="localAnswers[currentId - 1] !== void 0">你填写的答案为：{{localAnswers[currentId - 1]}}</p>
        </label>
    </div>
    <!-- 填空题 -->

    <!-- 录音题 -->
    <div class="mp3" ms-visible="exercise.eType === 3">

        <!-- 仅录音时显示 -->
        <div class="record-mask mask" ms-class-1="show: isRecording==true"></div>

        <!-- 仅录音时显示 -->
        <div class="isRecording" ms-class-1="show: isRecording==true"></div>
        <div class="timeout-mask">10</div>

        <!-- 仅首次进入本题且未成功录制一次录音时显示-->
        <div class="record-btn" ms-class="active:isRecording==true" ms-if="!showPlayRecordBtn" ms-on-touchstart="startRecord()" ms-on-touchend="stopRecord()" ms-on-touchcancel="stopRecord()" ms-on-touchleave="stopRecord()">按住开始录制</div>
        <div class="record-btn" ms-class="active:isRecording==true" ms-if="!showPlayRecordBtn && isRecording === true" ms-on-touchstart="startRecord()" ms-on-touchend="stopRecord()" ms-on-touchcancel="stopRecord()" ms-on-touchleave="stopRecord()">松开停止录制</div>

        <!-- 后退的页面不应该显示重新录制 -->
        <div class="record-btn" ms-class="active:isRecording==true" ms-if=" showPlayRecordBtn && (localAnswers.length < currentId) " ms-on-touchstart="startRecord()" ms-on-touchend="stopRecord()" ms-on-touchcancel="stopRecord()" ms-on-touchleave="stopRecord()">按住重新录制</div>
        <div class="record-btn" ms-class="active:isRecording==true" ms-if=" showPlayRecordBtn && (localAnswers.length < currentId) && isRecording == true" ms-on-touchstart="startRecord()" ms-on-touchend="stopRecord()" ms-on-touchcancel="stopRecord()" ms-on-touchleave="stopRecord()">松开停止重录</div>

        <!-- 录音完毕或者后退到本题时显示 -->
        <div id="playRecord" class="playRecord record-btn" ms-class-1="hide: isRecording==true" ms-class-2="playing: isPlaying==true" ms-on-click="togglePlayRecord()" ms-visible="showPlayRecordBtn && userAnswer != ''"><span class="record-total-time">{{duration}}</span><i class="second-symbol">&quot</i><span ms-visible="isPlaying!=true">点击试听</span><span ms-visible="isPlaying==true">点击停止</span></div>
        <div class="playRecord record-btn" ms-class-1="hide: isRecording===true" ms-visible="showPlayRecordBtn && userAnswer === ''"><span class="record-total-time">0</span><i class="second-symbol">&quot</i><span ms-visible="isPlaying!=true">未录制</span></div>

        <!-- 仅录音过短显示, 一定时间后消失或录音时消失 -->
        <div class="record-tips">录音时间过短，请重新录制</div>

    </div>
    <!-- 录音题-->

    <!-- 题目主干渲染区, 依据不同类型 end -->

    <!-- 检查按钮, 仅在没做过这题时渲染 -->
    <!--<div ms-click="checkAnswer()" ms-if="localAnswers.length < currentId " class="tap-btn next" ms-class-1="hide: isRecording==true">-->
        <!--<span class="icon yo-ico">&#xf078;</span>-->
    <!--</div>-->
    <div ms-click="checkAnswer()" ms-if="localAnswers.length < currentId " class="bottom-checkAnswer-btn" ms-class-1="hide: isRecording==true">
        检查答案
    </div>
    <!-- 检查按钮 -->

    <!-- 答案和分析面板 -->
    <!-- 显示与否的罗辑， 1.先看是不是做过了这题，再看是不是点击了检查按钮! 2. 本地保存的题目数量大于或者等于当前题就说明做过了当前题 -->
    <div class="answer-panel" ms-class="wrong:right != true" ms-visible=" (localAnswers.length >= currentId)">
        <div class="answer" ms-if="exercise.eType != 3">
            <span class="right" ms-if="right">正确!</span>
            <span class="right" ms-if="!right">错误!</span>
            <p class="analysis-text">你的答案为{{userAnswer}}, 正确答案为: {{exercise.answer}}<br/> 解析: {{exercise.analysis}}</p>
        </div>
        <div class="answer" ms-if="exercise.eType == 3">
            <span class="save">本题完毕， 请继续操作!</span>
        </div>
        <div class="tap-btn btn-next" ms-click="next" ms-if="hasNext">
            <span class="icon yo-ico icon-next">&#xf079;</span>
        </div>
        <div class="tap-btn btn-submit" ms-click="submit" ms-if="!hasNext">
            <span class="icon yo-ico">&#xf078;</span>
        </div>
    </div>
    <!-- 答案和分析面板 -->

</div>

