/**
 *  for microsite task or outer static use
 *  
 */

@import "../base/variables";
@import "../base/animation-part";
@import "../base/mixins/mixin.scss";

.header-for-webapp {
    .detail {
        margin-top: .44rem;
    }
}
.detail {
    color: hsl(0, 0%, 11%);
    padding: 0 .16rem;
    text-align: left;
    margin-bottom: .44rem;
    max-width: 6rem;
    margin-left: auto;
    margin-right: auto;

    .title {
        font-size: .22rem;
        padding: .12rem 0 .12rem 0; /* fix top-striped first in render bug, should not use margin, 20150813 */
        line-height: 1.3;
    }
     
    .count {
        font-size: .14rem;
        display: inline-block;
        vertical-align: top;
        color: $like-color;

        span {
            padding-right: .05rem;
        }
    }

    @include iphone4-screen() { 
        .count {
            font-size: .12rem;
        }
    }

    .gap-point {
        font-size: .04rem;
        position: relative;
        top: -.02rem;
        color: $like-color;
    }

    .cover-img {
        margin: .18rem 0;

        img {
            width: 100%;
            max-width: $max-content-width;
            margin: 0 auto;
        }
    }

    .content {
        margin-top: .15rem;
        font-size: .18rem; /* 继承到所有子元素 */
        line-height: 1.7; /* 继承到所有子元素 */
        
        img {
            width: 100%!important; /* must important to avoid override */
            margin-top: .1rem;
            margin-bottom: .1rem;
        }
        h1 {
            font-size: .22rem;
        }
        h2 {
            font-size: .20rem;
        }
        h3 {
            font-size: .18rem;
        }
        h4 {
            font-size: .16rem;
        }

        h1, h2, h3, h4, h5, h6 {
            margin: .1rem 0;
        }
        dd, dl, dt {
            margin: 0;
        }

        p {
            margin-bottom: .16rem;
            position: relative;
            word-break: break-all;
            color: $article-content-text-color;
        }

        iframe {
            display: block;
            width: 100%;
            margin: .1rem auto; /* add gap 201512071555 */
        }

    }

    .task-helper-btn {
        width: 60%;
        height: .44rem;
        line-height: .44rem;
        margin: 0 auto;
        font-size: .16rem;
        color: #fff;
        background-color: $main-green;
        text-align: center;
        border-radius: 3px;
    }

    .shareMask {
        display: none;
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(6, 6, 6, 0.9);
        padding: .3rem;
        padding-top: .2rem;
        min-height: 8rem;
        z-index: $zIndex5;

        .task-shareMask-tip-text {
            color: #fff;
            font-weight: bold;
            font-size: .18rem;
            position: absolute;
            top: .68rem;
            left: 50%;
            margin-left: -.4rem;
        }

        img {
            margin: 0 auto;
        }
        img.wxShareIcon {
            display: block;
            width: 1rem;
            margin-top: .3rem;
            margin-bottom: .3rem;
        }
        img.shareMaskBottom {
            margin-top: 0;
        }

        .iKnow {
            width: 100%;
            height: .4rem;
            color: #fff;
            font-size: .14rem;
            text-align: center;
            margin-top: .5rem;
        }
    }

    .pageinfo {
        text-align: left;

        .like-num-wrapper {
            margin: .1rem auto;
            text-align: center;
            border-bottom: 2px solid #ddd;
            padding-bottom: .2rem;
        }
        .like-num-update {
            /*color: $main-green;*/
        }

        .isShared {
            color: $main-blue;
        }
        .share, .visit, .like {
            display: inline-block;
            height: .3rem;
            line-height: .3rem;
            font-size: .14rem;
            position: relative;
            top: .2rem;
            margin-right: .1rem;

            .icon {
                width: .16rem;
                height: .16rem;
                display: inline-block;
            }
            .icon-share {
                background-image: url(#{$img-dir}/iconfont-share.png);
            }

            .icon-visit {
                background-image: url(#{$img-dir}/iconfont-yuedu.png);
            }

            .icon-like {
                background-image: url(#{$img-dir}/iconfont-like.png);
                position: relative;
                top: -.02rem;
            }
            .hasLiked {
                color: $main-blue;
                background-image: url(#{$img-dir}/iconfont-hasLiked.png);
            }
        }

        .report {
            float: right;
            position: relative;
            top: .24rem;
            font-size: .14rem;
            color: $light-grey;
        }

    }

}

/* activity start */

.infoCollect-wrapper {
    text-align: center;
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 0;

    .sign-up-btn-wrapper {
        width: 100%;
        position: fixed;
        left: 0;
        bottom: 0;
    }

    .sign-btn {
        position: relative;
        left: 0;
        width: 100%;
        display: inline-block;
        border: none;
        border-radius: 0;
        height: .44rem;
        line-height: .44rem;
    }
}
.activity-info-form {
    text-align: center;
    background-color: #fff;
    padding: .1rem;
    border-radius: 3px;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;

    &-title {
        text-align: center;
        margin: .1rem;
    }

    .yo-btn {
        margin-top: .1rem;
        margin-bottom: .1rem;
        margin-right: .1rem;
    }
}
.btn-scoreAward {
    border: none; /* overwrite */
    display: block;
    width: 92%;
    height: .3rem;
    line-height: .30rem;
    margin: 0 auto;
    margin-top: .1rem;
    background-color: #F25454;
    color: #fff;
}

[avalonctrl="activity"] {
    .pageinfo {
        margin-bottom: .7rem;
    }
}

/* activity end */
